@import url("htxtps://fonts.googleapis.com/css2?family=Sora:wght@400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Sora', sans-serif;
}

button {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

.modal-overlay {
  width: 100%;
  max-height: 100vh;
  min-height: 100vh;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  overflow: auto;
}

.modal-content-body {
  box-shadow: 0 5px 10px 0 rgba(92, 92, 100, 0.25);
  border-radius: 10px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2000;
  top: 0;
  left: 0;
  animation: zoomOut 0.6s ease-in-out;
  overflow: auto;
}

.modal-content-body .close-button {
  align-self: flex-end;
  background: transparent;
  border: none;
}

.button-bg {
  background: #091F41;
}

.dark-text {
    color: #091F41;
}

.no-rounded-left {
  border-radius: 0 0.75rem 0.75rem 0;
}

.product-name {
  color: rgba(34, 34, 34, 0.7);
}

.custom-rounded {
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

